* {
	box-sizing: border-box;
	font-family: sans-serif;
}
::-webkit-scrollbar {
	width: 0;
}
html,
body,
#root {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}
body {
	background: url('../../public/bg.jpg') center center ;
	background-size:cover ;
}
#root {
	backdrop-filter: blur(15px);
	min-width: 300px;  
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
}
